@import "reset.css";
.header {
    background-color: #313131;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}
.main-menu {
    display: flex;
    flex-direction: row;
}
.logo {
    display: flex;
    align-items: center;
    padding-left: 27px;    
}
.logo-link {
    display: flex;
    height: 68px;
}
.menu_main_link  {
    display: flex;
    font-size: 20px;
    align-items: center;
    padding-left: 27px;
    text-decoration-line: none;
    color:white;
}
.menu-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    justify-content: center;
    font-size: 15px;
    flex-wrap: nowrap;
    width: 100%;


}
.main-link {
    text-decoration-line: none;
    color: white;
    padding: 28px;
}
.main-link:hover {
    color:#14B9D5;
}
.lupa {
     display: flex;
    width:68px;
   background: #000000;
    justify-content: center;
    align-items: center;
}
.wellcom-section {
    background-image: url(../img/wellcomphoto.jpg);
    height: 369px;
    max-width: 100%;
    background-attachment: fixed;
   background-size: cover;
}
.display-logo{
    text-decoration:none;
    color:white;
}
.display-logo:hover{
    color:#14B9D5;
}
.main-word{
    font-size: 27px;
    line-height: 37px;
}
.display {
    display:flex;
    justify-content: center;
    color: white;
   
    padding-top: 164px;
    font-family:sans-serif;
    font-weight: 400;
    margin-bottom: 44px;
}
.wellcom-section-buttons {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 60px;
}
.grean-border {
    color: white;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #89CA62;
    border: 1px solid none;
    text-decoration-line: none;
    border-radius: 4px;
    width: 170px;
    height: 55px;
    margin-right: 10px;
    font-size:14px;
}
.blue-border {
    color: white;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #14B9D5;
    border: 1px solid none;
    text-decoration-line: none;
    border-radius: 4px;
    width: 170px;
    height: 55px;
    margin-left: 10px;
    font-size:14px;
}
.main-settings {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    font-family:sans-serif;
}
.main-logo {
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    margin:50px;
    font-family: 'Open Sans', sans-serif;
}
.pictures-section-setting {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 900px;
    align-content: space-between;
}
.flex-boxes {
    width: 370px;
    margin-bottom: 30px;
}
.text-decoration{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.main-section-paralax {
    background-image: url(../img/mainphoto.jpeg);
    background-attachment: fixed;
    max-width: 100%;
    height: 100%;
    background-size: cover;
}
.main-logos {
    text-align: center;
    color: white;
    padding: 100px;
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
}
.main-logos::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #18B4CF;
    margin: 87px auto auto;
}
.photodefender {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin: 0 auto;
    max-width: 1200px;
}
.main-image{
    padding:0 50px;
    padding-bottom: 200px;
}
.carosell {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.carosell-section {
    max-width: 100%;
}
.hot-news {
    font-family: 'Open Sans', sans-serif;
    max-width: 1150px;
    display: grid;
    grid-gap: 50px;
    margin: 0 auto;
    grid-template-areas: 
    "item1 item1 item1 item2"
    "item3 item3 item4 item4"
    "item5 item5 item6 item6"
    "item7 item8 item8 item8";
}
.item1 {
    grid-area: item1;

}
.item2 {
    grid-area: item2;

}
.item3 {
    grid-area: item3;
    }
.item4 {
    grid-area: item4;

}
.item5 {
    grid-area: item5;

}
.item6 {
    grid-area: item6;

}
.item7 {
    grid-area: item7;

}
.item8 {
    grid-area: item8;
   
}
.item-photo-1 {
    float: left;
}

.updown-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}
.updowm-title {
    text-align: end;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;

}
.updown-text {
    text-align: end;
    font-weight: 200;
    font-size: 14px;
    line-height: 21px;
    padding-top:15px;
}
.logo-title{
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
}
.position {
    float: left;
}
.footer {
    background-color: #000000;
    width:100%;
    margin-top:71px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    color: white;
    margin: 0 auto;
    padding: 30px;
    align-items: center;
}
